@import "../../main";

.spinnerContainer {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  width: calc(50% - 0.5rem);

  .spinner:before {
    content: "";
    display: grid;
    width: 100%;
    place-items: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 0.2rem solid transparent;
    border-top-color: $spinnerColor;
    border-left-color: $spinnerColor;
    animation: spinner 0.8s linear infinite;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

// @media screen and (max-width: 852px) {
//   .spinner-container {
//     height: calc(100vh - 5rem - 11.9225rem);
//   }
// }
